*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General style */

body{
    font-family: 'Golos Text', sans-serif;
}

.small-button{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-inline: 1rem;
}

.big-button{
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-inline: 1rem;
    display: inline-block;
}

.medium-button{
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-inline: 1.5rem;
    min-width: 241px;
    display: inline-block;
}

.giga-button{
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-inline: 5.5rem;
    display: inline-block;
}

.bluelink {
    background-color: #0061FF;
    color: white;
    text-decoration: none;
}

.margin-right{
    margin-right: 3rem;
}
.margin-inline{
    margin-inline: 2rem;
}

.margin-top{
    margin-top: 4rem;
}

.margin-top-small{
    margin-top: 2rem;
}

.margin-top-mini{
    margin-top: 1rem;
}

.margin-top-big{
    margin-top: 7rem;
}

.padding-bottom{
    padding-bottom: 4rem;
}

.padding-bottom-small{
    padding-bottom: 2rem;
}

.padding-top-mini{
    padding-top: 1rem;
}

.vertical-align{
    text-align: center;
}

.one-k-width{
    max-width: 1000px;
    margin-inline: auto;
}

ul{
    list-style-type: none;
}

.fa-check{
    color: #0061FF;
    font-size: 1.2rem;
}

.greytext{
    color: #D0D0D3;
}

.bold{
    font-weight: 900;
}

/*Header*/

header{
    position: relative;
    width: 100%;
    background-color: #B4D0E7;
}

nav{
    display: flex;
    justify-content: space-between;
    height: 5rem;
    align-items: center;
    padding-inline: 1rem;
    position: fixed;
    background-color: white;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;
}

.nav-left, .nav-right{
    flex: 0 0 30%;
}

nav div ul{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    gap: 1.8rem;
    align-items: center;
}
/*
.fa-euro-sign{
    padding-bottom: 1rem;
}
*/
.container-header{                          /*main header*/
   padding-top: 6rem;
   max-width: 1200px;
   margin-inline: auto;
   height: 100%;
}

.header-main-section{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding-top: 3rem;
}

.container-header h1{
    margin-top: 3rem;
    font-size: 4.5rem;
    font-weight: 900;
}

.header-left, .header-right{
    display: flex;
}

.header-left{
    flex: 0 0 30%;
    flex-direction: column;
    justify-content: start;
    gap: 2rem;
}

.header-left .big-button{
    background-color: #0061FF;
    color: white;
    text-align: center;
    max-width: 65%;
}


.down-arrow{
    font-size: 3rem;
    display: flex;
    margin-top: 5rem;
    padding-bottom: 1.5rem;
}

.header-p{
    line-height: 1.5rem;
}

.header-right{
    position: relative;
    width: 100%;
}

.header-right img{
    width: 100%;
    position: absolute;
    bottom: -5rem;
    right: 0rem;
}

/*Main*/

.section-one{                                        /*First Section*/  
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    justify-content: space-around;
    align-items: start;
}

.section-one h2{
    font-size: 2rem;
}

input[type="radio"]{
    width: 20px;
    height: 20px;
}

.section-container{
    margin-top: 4rem;
    display: flex;
    gap: 2rem;
}

.business-plan{
    text-align: center;
    border-bottom: 1px solid black;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}


.card{                            /*Card*/
    border: 1px solid black;
    flex: 33%;
    justify-content: space-between;
}


.card-body ul{
    padding-inline: 2rem;
    display: flex;
    flex-direction: column;
}
    
.card-body li{
    margin-top: 1.5rem;
    display: inline-block;
}   

.centrato{
    padding-top: 3rem;
    text-align: center;
    padding-bottom: 2rem;
}


.bottomline{
    width: 4rem;
    border-bottom: 1px solid #D0D0D3;
}


.padding-bottom-small{
    padding-bottom: 1rem;
}


.team-horizontal-card{           /* Team Horizontal Card */
  border: 1px solid black;
}

.horizontal-card-header{
    width: 100%;
    border-bottom: 1px solid black;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


.horizontal-card-main{
    display: flex;
    justify-content: space-between;
}

.enterprise{
   display: flex;
   flex-direction: column;
}

.solutions{
    width: 65%;
    padding-bottom: 3rem;
}

.building{
    word-spacing: 0.1rem;
}

 
.first-section{                      /* First Section */
    display: flex;
    flex-direction: row-reverse;
    gap: 2rem;
}

.first-section-p{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 0 0 30%;
    justify-content: center;
}

.img-first-section img{
    width: 100%;
}



/*Footer*/